@font-face {
    font-family: "Migontama";
    src: url('../../../fonts/Migontama-Regular.otf') format('opentype');
  }

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255,165,0);
    background: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(250,205,122,1) 100%);
    font-family: 'Migontama';
}

.titulo{
    color: white;
    font-size: 72px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    height: 17vh;
}

.contenedor{
    display: inline-flex;
    align-items: left;
    justify-content: center;
    color: white;
    font-size: large;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.contenedorRow{
    display: inline-flex;
    align-items: center;
    justify-content: left;
    color: white;
    flex-direction: row;
    font-size: larger;
    padding: 10px;
    height: 2vh;
    margin-top: 0.5vh;
}

.contenedorSubmit{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: row;
    font-size: large;
    padding: 10px;
    height: 3vh;
}

.input{
    border-radius: 5px;
    height: 3.5vh;
    width: 15vw;
    margin-left: auto;
    font-size: 15px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.29);
}

.divisor{
    width: 1vw;
}

.inputSubmit{
    font-weight: bolder;
    font-size: 25px;
    padding: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    color: orange;
    margin-top: 5vh;
    background: white;
    font-family: 'Migontama';
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.42);
}

.flexImagenes{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
